.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px 200px 200px 60px;
    gap: 2px;
}

.item {
    background-color: #009933;
}

.column-span-2 {
    grid-column: span 2;
}

.row-span-2 {
    grid-row: span 2;
}